/* Create .env.development .env.production and .env


/* .env Content 
// your prefered PORT
PORT=
// your data source
DATA_SOURCE=

/* .env.production Content
PORT=
MONGO_URI_PROD=

/* .env.development Content
PORT=
MONGO_URI_DEV=

/* Current .env
PORT=8080
DATA_SOURCE=mongo

APP_ORIGIN=http://localhost:5173/
AUTH0_AUDIENCE=http://localhost:8080/
AUTH0_ISSUER=https://dev-qdcgiaoq1b8m6fe5.us.auth0.com/
MONGO_URI_DEV=mongodb+srv://teamturing23:turing23@cluster0.ypl2fdu.mongodb.net/soundsphere